/* navbar.component.css */
.navbar {
    display: flex;
    justify-content: center;
    padding: 1em;
    background-color: #7B3F00;
    color: #fff;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .navbar-brand {
    font-size: 3em;
    text-align: center;
  }
   
  .navbar a {
    color: #fff;
    text-decoration: none;
  }
  
  .navbar a:hover {
    color: #ddd;
  }
  