<!-- password-dialog.component.html -->
<div class="modal fade" id="passwordModal" tabindex="-1" *ngIf="password" #passwordModal>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ password.site_name }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <ng-container *ngIf="!isEditing; else editTemplate">
                    <p>Login: {{ password.login }}</p>
                    <p>Password: {{ password.password }}</p>
                </ng-container>
                <ng-template #editTemplate>
                    <div class="mb-3">
                        <label for="login" class="form-label">Website Name</label>
                        <input type="text" class="form-control" id="login" [(ngModel)]="password.site_name">
                    </div>
                    <div class="mb-3">
                        <label for="login" class="form-label">Login</label>
                        <input type="text" class="form-control" id="login" [(ngModel)]="password.login">
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="text" class="form-control" id="password" [(ngModel)]="password.password">
                    </div>
                </ng-template>
            </div>
            <div class="modal-footer">
                <ng-container *ngIf="!isEditing; else editButtons">
                    <!-- Original buttons -->
                    <button type="button" class="btn btn-success"
                        (click)="password && password.login && copyToClipboard(password.login)">Copy Login</button>
                    <button type="button" class="btn btn-success"
                        (click)="password && password.password && copyToClipboard(password.password)">Copy
                        Password</button>
                    <button type="button" class="btn btn-primary" (click)="onEdit(password)">Edit</button>
                    <button type="button" class="btn btn-danger" (click)="onSubmitDelete(password)">Delete</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </ng-container>
                <ng-template #editButtons>
                    <!-- Buttons for editing mode -->
                    <button type="button" class="btn btn-primary" (click)="onSave()">Save</button>
                    <button type="button" class="btn btn-secondary" (click)="onCancel()">Cancel</button>
                </ng-template>
            </div>
        </div>
    </div>
</div>