/* password-list.component.css */
.password-list {
    max-width: 500px;
    margin: 0 auto;
    background-color: #FFD23F;
    border-radius: 10px;
    padding: 30px;
    margin-top: 70px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    flex-grow: 1;
    overflow: auto;
  }
  
  .password-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    border: 1px solid #333;
    margin-bottom: 1em;
    margin-left: -40px;
  }
  
  .password-item h3 {
    margin: 0;
  }
  
  button {
    padding: 0.5em 1em;
    font-size: 1em;
    color: #fff;
    background-color: #333;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #555;
  }
  