<!-- password-list.component.html -->
<div class="password-list">
  <h2>Password List</h2>
  <ng-container *ngIf="passwords.length > 0; else noData">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Website Name</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let password of passwords">
          <td>{{ password.site_name }}</td>
          <td>
            <button (click)="openDialog(password)" class="btn btn-primary show-data" data-bs-toggle="modal" data-bs-target="#passwordModal">Show Login Data</button>
          </td>
        </tr>
      </tbody>
    </table>
    <app-password-dialog *ngIf="selectedPassword" [password]="selectedPassword" (passworChange)="loadPasswords()"></app-password-dialog>
  </ng-container>
  <ng-template #noData>
    <div class="alert alert-primary" role="alert">
      No saved passwords
    </div>
  </ng-template>
</div>